{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block pageTitle %}Login{% endblock %}

{% block content %}
    {% if error %}
        <div>Du konntest nicht eingeloggt werden! Vielleicht ist der Benutzername oder Dein Passwort falsch?</div>
    {% endif %}
    <form action="{{ path('kcb_vereinsheim_authentication_logincheck') }}" method="post" data-ajax="false">
        <div>
            <label for="email">E-Mail:</label>
            <input type="text" id="email" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Passwort:</label>
            <input type="password" id="password" name="_password" />
        </div>
        <div>
            <input type="checkbox" id="rememberme" name="_remember_me" checked="checked" />
            <label for="rememberme">Eingeloggt bleiben</label>
        </div>
        <div>
            <button type="submit">Einloggen</button>
        </div>
    </form>
{% endblock %}

{% block actions %}
    <a href="{{ path('kcb_vereinsheim_startseite_startseite') }}" data-icon="back" data-inline="true" data-role="button" data-ajax="false">Abbrechen</a>
{% endblock %}


