{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block content %}
    <h1>Einloggen</h1>
    {% if error %}
        <div>Du konntest nicht eingeloggt werden! Vielleicht ist der Benutzername oder Dein Passwort falsch?</div>
    {% endif %}
    <form action="{{ path('kcb_vereinsheim_authentication_logincheck') }}" method="post">
        <div>
            <label for="email">E-Mail:</label>
            <input type="text" id="email" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Passwort:</label>
            <input type="password" id="password" name="_password" />
        </div>
        <div>
            <button type="submit">Einloggen</button>
        </div>
    </form>
{% endblock %}

{% block actions %}
    <li><a href="{{ path('kcb_vereinsheim_startseite_startseite') }}">Abbrechen</a></li>
{% endblock %}