{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block pageTitle %}Anwesenheitsstatus{% endblock %}

{% block content %}
    {% include "KcbVereinsheimBundle:Mitglied:_teaser.html.twig" with {mitglied: anwesender.mitglied} %}
    <div><strong>Anwesend seit:</strong> {{ anwesender.ankunft.format('d.m.Y, H:i:s') }} Uhr</div>
{%  endblock %}

{% block actions %}
    <a href="{{ path('kcb_vereinsheim_startseite_startseite') }}" data-icon="back" data-inline="true" data-role="button" data-ajax="false">Abbrechen</a>
{% endblock %}
