{% extends "::base.html.twig" %}

{% block title %}{% block pageTitle %}{% endblock %}KCB Vereinsheim{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
{% endblock %}

{% block body %}
    <div data-role="page">
        <div data-role="header">
            <a href="{{ path('kcb_vereinsheim_startseite_startseite') }}" data-role="button" data-icon="home" data-iconpos="notext" data-ajax="false">Zurück zur Startseite</a>
            <h1>{{ block('pageTitle') }}</h1>
            {% if not app.user %}
                <a href="{{ path('kcb_vereinsheim_authentication_login') }}" data-role="button" data-icon="check" data-ajax="false">Login</a>
            {% else %}
                <a href="{{ path('kcb_vereinsheim_authentication_logout') }}" data-role="button" data-icon="delete" data-ajax="false">Logout</a>
            {% endif %}
        </div>
        <div data-role="content">
            {% block content %}{% endblock %}
        </div>
        <div data-role="footer" class="ui-bar">
            {% block actions %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
{% endblock %}