{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block pageTitle %}Mitglied bearbeiten{% endblock %}

{% block content %}
    <form action="{{ path('kcb_vereinsheim_mitglied_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div><input type="submit" value="Speichern" /></div>
    </form>
{% endblock %}

{% block actions %}
    <li><a href="{{ path('kcb_vereinsheim_mitglied_index') }}" data-role="back">Abbrechen</a></li>
{% endblock %}