{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block pageTitle %}Bearbeiten{% endblock %}

{% block content %}
    <form action="{{ path('kcb_vereinsheim_mitglied_update', { 'id': entity.id }) }}" data-ajax="false" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div><input type="submit" value="Speichern" /></div>
    </form>
{% endblock %}

{% block actions %}
    <a href="{{ path('kcb_vereinsheim_mitglied_index') }}" data-ajax="false" data-icon="back" data-role="button" data-inline="true">Abbrechen</a>
{% endblock %}