{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block pageTitle %}Mitglieder{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true" data-filter="true">
        {% for entity in entities %}
            <li><a href="{{ path('kcb_vereinsheim_mitglied_show', { 'id': entity.id }) }}" data-ajax="false">{{ entity.vorname }} {{ entity.nachname }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block actions %}
    <a href="{{ path('kcb_vereinsheim_mitglied_new') }}" data-ajax="false" data-icon="plus">Neues Mitglied anlegen</a>
{% endblock %}
