{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block content %}
    <h1>Neues Mitglied anlegen</h1>
    <form action="{{ path('kcb_vereinsheim_mitglied_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div><input type="submit" value="Anlegen" /></div>
    </form>
{% endblock %}

{% block actions %}
    <li><a href="{{ path('kcb_vereinsheim_mitglied_index') }}">Abbrechen</a></li>
{% endblock %}