{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% set roleLabels = {
    ROLE_ADMIN: 'Admin',
    ROLE_MITGLIED: 'Mitglied'
} %}

{% block pageTitle %}Mitglied{% endblock %}

{% block content %}
    {% include "KcbVereinsheimBundle:Mitglied:_teaser.html.twig" with {mitglied: entity} %}
    <h2>Rollen</h2>
    <ul>
        {% for role in entity.roles %}
            <li>{{ attribute(roleLabels,role) }}
        {% endfor %}
    </ul>
{%  endblock %}

{% block actions %}
    <form action="{{ path('kcb_vereinsheim_mitglied_delete', { 'id': entity.id }) }}" method="post" data-ajax="false">
        <a href="{{ path('kcb_vereinsheim_mitglied_edit', { 'id': entity.id }) }}" data-role="button" data-inline="true" data-icon="gear" data-ajax="false">Bearbeiten</a>
        <input type="submit" value="Löschen" data-inline="true" data-icon="delete" />
        <a href="{{ path('kcb_vereinsheim_mitglied_index') }}" data-icon="back" data-inline="true" data-role="button" data-ajax="false">Abbrechen</a>
    </form>
{% endblock %}
