{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block pageTitle %}Bearbeiten{% endblock %}

{% block content %}
    <form action="{{ path('kcb_vereinsheim_profil_updatepasswort') }}" method="post" {{ form_enctype(form) }} data-ajax="false">
        {{ form_widget(form) }}
        <div><input type="submit" value="Speichern" /></div>
    </form>
{% endblock %}

{% block actions %}
    <a href="{{ path('kcb_vereinsheim_profil_profil') }}" data-role="button" data-icon="back" data-inline="true" data-ajax="false">Abbrechen</a>
{% endblock %}