{% extends "KcbVereinsheimBundle:Layout:base.html.twig" %}

{% block pageTitle %}Willkommen{% endblock %}

{% block content %}
    {% render "KcbVereinsheimBundle:Startseite:startseiteAnwesende" %}
{% endblock %}

{% block actions %}
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('kcb_vereinsheim_mitglied_index') }}" data-ajax="false" data-icon="inline" data-icon="grid">Mitglieder verwalten</a>{% endif %}
{% endblock %}

